:root {
    --red: #ffb6b9;
    --blue: #89bcce;
    --green: #c8e6c9;
    --yellow: #ffe0b2;
    --pink: #ffb6ed;
  }

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.pwa-main {
    max-width: 500px;
    margin: 0px auto;
    padding: 10px;
}

.btn {
    background-color: gainsboro;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 30px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.btn-tp {
    background-color: transparent;
}

.btn-ul {
    text-decoration: underline;
    text-decoration-color: gold;
    text-decoration-thickness: 2px;
    text-decoration-style: wavy;
}

.btn-sm {
    height: 30px;
    font-size: 1rem;
}

.no-deco {
    text-decoration: none;
    color: black;
}

input,
select {
    -webkit-appearance: none;
    /* Remove default appearance */
    appearance: none;
    padding: 5px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 1.1rem;
}

label {
    font-size: 1.2rem;
}

input:active,
input:focus-visible,
input:focus,
select:active,
select:focus-visible,
select:focus {
    border-color: gold;
    outline-color: gold !important;
}


/* ///////////////////////////////////// NAVIGATION */
nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-header {
    font-weight: bolder;
    font-size: xx-large;
}


#nav-additions {
    display: flex;
    font-size: 1.2rem;
}



/* ///////////////////////////////////// CALENDAR */
.cal-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
}

.cal-item {
    height: 30px;
    background-color: whitesmoke;
    padding: 5px;
    font-size: small;
    border-top: 1px solid gray;
    cursor: pointer;
}

td+td {
    border-left: 1px solid gray;
}

.cal-in-month {
    background-color: lemonchiffon;
}

.cal-in-day {
    background-color: gold;
}

.cal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


/* ///////////////////////////////////// TIMESLOT */
#timeslot {
    width: 100%;
    overflow-y: auto;
    margin-top: 5px;
}

.slot-cont {
    display: flex;
}

.slot-item > div {
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    transform: rotate(-90deg);
    transform-origin: center;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px dashed gray;
}


/* ///////////////////////////////////// TASKLIST */
#tasklist {
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-color {
    background-color: var(--task-color);
    border-radius: 3px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border: 1px solid gray;
}

.task-name {
    flex: 1;
}

.task-counts {
    width: 80px;
    text-align: right;
}

.task-total {
    margin-top: 20px;
    text-align: right;
}


/* ///////////////////////////////////// TASKADDFORM*/
.task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    font-size: 1.3rem;
}

.task-form>label {
    margin-top: 20px;
}

/* ///////////////////////////////////// TASKLISTPAGE */
.days-of-week {
    display: flex;
    justify-content: space-around;
    padding: 2px 10px;
    background-color: gold;
    border-radius: 10px;
}

#tasklistp {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 1fr 1fr;
    grid-gap: 15px;
}

#tasklistp>div {
    margin: auto 0px;
}


/* ///////////////////////////////////// TASKDETAILPAGE */
.coin-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 400px;
    margin: 0px auto;
}

.coin {
    width: 30px;
    height: 30px;
    border-radius: 18px;
    border: 2px solid goldenrod;
    background-color: gold;
    margin: 5px auto;
}

#metrics {
    margin-top: 50px;
}

.metric-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 400px;
    margin: 0px auto;
}

.metric-key {
    font-weight: bold;
}

.metric-value {
    text-align: right;
}



/* ///////////////////////////////////// TASKASSIGN */
.assign-form {
    display: flex;
    flex-direction: column;
}

.datetime-cont {
    display: flex;
    justify-content: end;
    font-size: large;
    margin-bottom: 20px;
}