.greeting {
    padding-top: 50px;
    font-size: xx-large;
}

.meeting {
    margin-top: 30px;
    font-size: large;
}

.communication {
    padding: 0px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.communication > li {
    display: inline;
}

.li-div {
    margin: 0px 15px;
}

.links {
    list-style-type: none;
}

.links > li {
    display: flex;
}

.links > li > span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links > li > a {
    height: 30px;
    display: flex;
    align-items: center;
}