.calendar {
    padding-top: 1px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.calendar-header-item {
    font-weight: bold;
}

.calendar-item {
    height: 25px;
    cursor: pointer;
    font-size: 13px;
}

.calendar-item-small {
    font-size: 13px;

}

.daily-slot-shell {
    width: 100%;
    overflow-y: auto;
}

.daily-slot {
    margin-top: 20px;
    width: calc(22px*48);
}

.daily-slot-item {
    float: left;
    height: 40px;
    width: 18px;
    border: 1px solid var(--g1);
    margin-right: 2px;
    writing-mode: vertical-lr;
    font-size: 13px;
    font-weight: bold;
    color: gray;
    text-align: center;
    cursor: pointer;
}

.navbutton {
    cursor: pointer;
}

.new-item-form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 5px;
}

.task-list {
    margin-top: 20px;
}

.task-item {
    padding: 5px;
    margin-top: 2px;
}

.pnp-modal {
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    background-color: white;
    padding-top: 50px;
    padding-left: 10px;
}

.todos {
    margin-top: 20px;
}

.todo-item {
    padding: 5px;
    margin-top: 2px;
}

.chain-shell {
    margin-top: 20px;
    padding: 2px;
    height: 105px;
    overflow-y: auto;
    border: 1px solid gray;
}

.chain {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.chain-item {
    width: 20px;
    height: 20px;
    margin: 2px 2px;
}

.detail {
    margin-top: 20px;
    margin-bottom: 20px;
}

table, tbody, tr {
    width: 100%;
}
td {
    width: 50%;
}

.anav {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 1px 3px;
    text-decoration: none;
    margin-right: 5px;
}

.period-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.period-day-container {
    display: flex;
    flex-direction: row;
}
