.tool-nav {
    padding-top: 10px;
    display: flex;
}

.tool-header {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
    border-bottom: 1px dashed gray;
}