/* ///////////////////////////////////// TOPIC LIST*/
.topic-list-container {
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 2fr 1fr;
    grid-gap: 15px;
}

.topic-list-container > span {
    margin: auto auto;
}

.topic-list-container > label {
    margin: auto 5px;
}

/* ///////////////////////////////////// ASSIGNMENT*/
#iter-info {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}